<%- include('layout.ejs'); %>
<div class="container">
    <div>

        <h3 class="text-center">Hi <%= user.name %> </h3> <br/>
        <h3 class="text-center">You have been successfully logged in!</h3> <br/><br/><br/>

    </div>
</div>
<br/>
<div>
    <a href="/logout"> <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Logout</button> </a>
</div>

</body>

</html>