<%- include('layout.ejs'); %>
<div class="container">
    <div>
        <h3 class="text-center">You have been successfully logged out!</h3> <br/>
        <h3 class="text-center">Click <a href="/login">here</a> to login again</h3> <br/><br/><br/>
    </div>
</div>
</body>

</html>